body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(255, 250, 205);
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
}

.input-box{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
}

.ToDoLoad{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
}

.RemoveToDos{
    display: flex;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
}

.ToDosByCategory{
    display: flex;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
}

button{
    justify-content: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    background-color: whitesmoke;
}

select{
    justify-content: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    background-color: whitesmoke;
}

.toDoInputBox{
    justify-content: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    background-color: whitesmoke;
}